*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: goldplay;
    src: url(fonts/Goldplay-BlackIt.ttf);
    font-family: gotham;
    src: url(fonts/GothamBold.ttf);
    font-family: nexa;
    src: url(fonts/Nexa-Heavy.ttf);
    font-family: nexalight;
    src: url(fonts/Nexa\ Light.otf);
    font-family: gothamlight;
    src: url(fonts/GothamLight.ttf);
    font-family: gothamlightital;
    src: url(fonts/GothamLightItalic.ttf);
}
.loginbutton{
    background: #000;
    color: #F16322;
    font-family: nexa;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.4rem;
    margin:0.8rem;
    cursor:pointer;
    transition: background 0.4s;
    padding: 0.5rem 1rem;
    min-width: 5rem;
    display: inline-block;
    text-align: center;
}
.loginbutton:hover{
    background: #F16322;
    color:#000;
}
.logoutbutton {
    background: transparent;
    color: #F16322;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 0.5rem;
}

.logoutbutton:hover {
    color: #d14a0f;
}
.text-primary {
    color: #f16322 !important;
  }
.section-title::after{
    background-color: #F16322 !important;
}
a.link:hover{
    color:#F16322 !important;
}
.btn:hover{
    color: white !important;
}

.btn-dark:hover{
    background-color: #F16322 !important;
}
i.fa-heart:hover{
    color:#F16322 !important;
}
#cart thead{
    background-color: #F16322 !important;
}
.white-text{
    color: #F16322 !important;
}
.sub-title::after{
    background-color: #F16322 !important;
}
footer .copyright-area{
    background-color: #F16322 !important;
}
footer h3::after{
    background-color: #F16322 !important;
}
  