*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: goldplay;
    src: url(fonts/Goldplay-BlackIt.ttf);
    font-family: gotham;
    src: url(fonts/GothamBold.ttf);
    font-family: nexa;
    src: url(fonts/Nexa-Heavy.ttf);
    font-family: nexalight;
    src: url(fonts/Nexa\ Light.otf);
    font-family: gothamlight;
    src: url(fonts/GothamLight.ttf);
    font-family: gothamlightital;
    src: url(fonts/GothamLightItalic.ttf);
}
#loginbutton{
    height: 2rem;
    width: 5rem;
    background: #000;
    color: #F16322;
    font-family: nexa;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.4rem;
    margin:0.8rem;
    cursor:pointer;
    transition: background 0.4s;
}
#loginbutton:hover{
    background: #F16322;
    color:#000;
}
.text-primary {
    color: #f16322 !important;
  }
footer .copyright-area{
    background-color: #F16322 !important;
}
  